/* TODO: modificar con el Look&Feel común de tu aplicación */

body {
  margin: 0;
  font-family: Arial, sans-serif;
}

header {
  background-color: #333;
  color: #fff;
  display: flex;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav li {
  padding: 0.5rem 1rem;
}

nav li:hover, nav li:focus-within {
  background-color: gray;
}

nav a {
  color: #fff;
  text-decoration: none;
}

aside ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

aside li {
  padding: 0.5rem 1rem;
}

aside li:hover, aside li:focus-within {
  background-color: gray;
}

aside a {
  color: #fff;
  text-decoration: none;
}


article {
  margin: 1rem;
}

header aside {
  margin-left: auto;
  padding: 0.40rem 0.5rem;
  white-space: nowrap;
}

#usuario, #clave { 
  width: 8rem;
}

/* Estilos para el footer */

/* Resto del CSS... */

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
}

.footer-bottom {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px;
  box-sizing: border-box;
}

footer {
  margin-top: auto;
}
